
[unit]
Description = Eclipse fog05 Linux Plugin
After=network.target


[Service]
Type=simple
PIDFile=/var/fos/linuxp.pid
ExecStart = /etc/fos/plugins/plugin-os-linux/linux_plugin /etc/fos/plugins/plugin-os-linux/linux_plugin.json
KillMode=process
Restart=on-failure
User=fos
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=fos_linux
[Install]
WantedBy=multi-user.target
Alias=foslinux.service